*{
    box-sizing: border-box;
  }
  
body {
    background-color: #fefefe;
    background-image: linear-gradient(#c7d63c 0%, #cf5626 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #444;
    font-family: cursive, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 2rem 1rem;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    margin: 0;
}

section {
    display: flex;
}

.todo {
    background-color: #f4f7fc;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    margin: 20px auto 50px;
    max-width: 100%;
    min-height: 500px;
    overflow: hidden;
    padding: 40px 20px;
    width: 30rem;
}

.todo__add {
    display: flex;
    height: 2.5rem;
    margin-top: .5rem;
    width: 100%;
}

.input--add {
    font-size: 1.5rem;
    margin-right: 2%;
    width: 85%;
}

.btn--add {
    color: #bbb;
    font-size: 2rem;
    width: 13%;
}

.btn--add:hover {
    background-color: #72dd72;
    border: 1px solid;
    color: #555;
}

.todo__pending, .todo__completed {
    display: flex;
    flex-direction: column;
}

.todoList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.todoList li {
    background: #e0e8f5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    overflow: hidden;
    width: 100%;
}

ul.todoList li.new {
    animation-duration: 0.75s;
    animation-name: newTask;
}

.todo__completed {
    display: none;
}

.todo__completed.show {
    background: #eee;
    display: inline-block;
}

ul.todoList li:hover > span.delete {
    background-color: #f56468;
    color: #fff;
    cursor: pointer;
    margin-top: 0;
    opacity: 1;
    transform: translate(0);
    transition: all ease-in 0.25s;
    width: 20%;
}

ul.todoList li input {
    margin: 1rem 0.5rem;
    transform: scale(1.8);
    width: 10%;
}

ul.todoList li.completed input {
    pointer-events: none;
}

ul.todoList li span.todo-text {
    line-height: 1.8rem;
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}

ul.todoList li.completed span.todo-text {
    text-decoration:line-through;
    width: 90%;
}

span.delete {
    background-color: #f56468;
    border-radius: 0 3px 3px 0;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 0;
    opacity: 0;
    text-align: center;
    transform: translate(3rem);
    transition: all ease-in 0.25s;
    width: 20%;
}

ul.todo-list li .delete{
    background-color: #f56468;
    color: #fff;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-in 0.25s;
    width: 0;
  }

.todo__manage {
    justify-content: center;
}

.manage--hide, .manage--show {
    padding-right: 2rem;
}

.btn--hide, .btn--clear{
    display: none;
}

input:focus{
    border: 1px solid #a3b1ff;
    outline: none;
}

input::placeholder{
    color: rgba(0,0,0,0.3);
    font-style: italic;
}

@keyframes newTask {
	from {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: perspective(50rem) rotate3d(0, 1, 0, 90deg);
	}

	40% {
		animation-timing-function: ease-in;
		transform: perspective(50rem) rotate3d(0, 1, 0, -20deg);
	}

	60% {
		opacity: 1;
		transform: perspective(50rem) rotate3d(0, 1, 0, 10deg);
	}

	80% {
		transform: perspective(50rem) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(50rem);
	}
}